{% if site.owner.google.ad-client and site.owner.google.ad-slot %}
<div class="google-ads">
  <!-- 320 x 50 ad -->
  <script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle"
       style="display:inline-block;width:320px;height:50px"
       data-ad-client="{{ site.owner.google.ad-client }}"
       data-ad-slot="{{ site.owner.google.ad-slot }}"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div><!-- /.google-ads -->
{% endif %}

<span><p>This website is <a href='http://github.com/maptimecalgary/maptimecalgary.github.io/'>open source</a> and you can improve it. Edit this page on <a href="{% if page.path %}//github.com/{{ site.github_link }}/blob/master/{{ page.path }}{% else %}//github.com/{{ site.github_link }}{% endif %}" target="_blank">Github</a> or <a href="{% if page.path %}//prose.io/#{{ site.github_link }}/edit/master/{{ page.path }}{% else %}//prose.io/#{{ site.github_link }}{% endif %}" target="_blank">Prose.io</a>. Learn more about contributing <a href='https://guides.github.com/activities/forking/' target="_blank">here</a>.</span>
